@model IEnumerable<SalesManagement.Models.Salesman>
@{
    ViewData["Title"] = "Index";
}

<h1>All Salesmen List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p

<div class="container">

<div class="row">

<table class="table table-bordered table-striped col">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var salesman in Model)
        {

            <tr>
                <td>
                    @salesman.Id
                </td>
                <td>
                    @salesman.Name
                </td>
                <td>
                    
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@salesman.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@salesman.Id" class="btn btn-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@salesman.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>


</div>
</div>